<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Componente 1</p>
        {{title}}
        <input type="text" v-model="nombre">
        {{nombre}}
    </div>
    <hr>
    
    <div id="component">
        <p>Componente 2</p>
        <input type="text" v-model="text">
        {{text}}
    </div>
    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script>

    const app = new Vue({
        el: '#app',
        data:{
           title: 'maoposites',
           nombre: 'Mauricio Posada' 
        }
    
    });

    const component = new Vue({
        el: '#component',
        data:{
           text: app.nombre
        }
    
    });

    </script>
</body>
</html>