<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodos</title>
</head>
<body>
    <div id="app">
        <h3>{{numero_1}}</h3>
        <h3>{{numero_2}}</h3>
        <input type="number" v-model="numero_1">
        <input type="number" v-model="numero_2">
        <br><br>

        <hr>
        <h2> Suma: {{suma()}}</h2>
        <h2> Resta: {{resta()}}</h2>
        <h2> Multiplacion: {{multiplacion()}}</h2>
        <h2> Division: {{division()}}</h2>

    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script>
        var app = new Vue({
            el:'#app',
            data: {
                numero_1: 0,
                numero_2: 1
            },
            methods:{
                suma:function(){
                    return this.numero_1 - (-this.numero_2)
                },
                resta:function(){
                    return this.numero_1 - (this.numero_2)
                },
                multiplacion:function(){
                    return this.numero_1 * (this.numero_2)
                },
                division:function(){
                    
                        return this.numero_1 / this.numero_2
                    
                }
            }
        })
    </script>
</body>
</html>